apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: {{ cilium_bgp_cluster_config_name }}
spec:
  bgpInstances:
    - name: {{ cilium_bgp_instance_name }}
      localASN: {{ cilium_bgp_local_asn }}
      peers:
        - name: {{ cilium_bgp_peer_name }}
          peerASN: {{ cilium_bgp_peer_asn }}
          peerAddress: {{ cilium_bgp_peer_address }}
          peerConfigRef:
            name: {{ cilium_bgp_peer_config_name }}
